
@model Eksponent_Fall2016.Models.EmployeeSkillViewModel

@{ 
    var level = Model.Level;
}

<div>
    <h4>Results for the selected level</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.Label("Ratio")
        </dt>

        <dd>
            @if (level != 0)
            {
                <span> @level % out of total number of employees have experience at this Level </span>

            }
            else
            {
                <span> No employee has experience at this Level</span>

            }
        </dd>
    </dl>
</div>
