@model Eksponent_Fall2016.Models.EmployeeSkillViewModel

@{
    ViewBag.Title = "ExperienceOverview";
}

<h2>Experience Overview Within Your Company</h2>


@*@using (Html.BeginForm())
{*@
    <div class="container">
        <div class="form-group">
            <div style="margin-top: 20px;">
                @Html.Label("Choose a Level:")  &nbsp; &nbsp;
                @foreach (var item in Model.LevelList)
                {
                    <label>
                        <input id="radioIds" type="radio" value="@item.Value" name="radioIds" data-typeAttr="@item.Value"/>
                        @item.Text
                        &nbsp;
                    </label>
                }
            </div>
        </div>
        <div class="form-group">
            <div>
                <input id="submit" type="submit" value="See Results" class="btn btn-default" />
            </div>
        </div>
    </div>
@*}*@ 

<div id="levelExperience">
    @* partial view in here *@
</div>

@section Scripts{

    <script>
        
        $(document).on("click", "#radioIds", function () {
            var val = $(this).attr("data-typeAttr");

            $("#submit").on("click",  function () {
                console.log(val+ " "+ "has been selected");
                $.ajax({
                    url: "/Companies/Overview",
                    type: "POST",
                    data: { radioIds : val }
                })
                .done(function (partialViewResult) {
                    console.log(partialViewResult);
                    $("#levelExperience").html(partialViewResult);
                    val = "";
                }).fail(function () {

                });
            });
        });
    </script>

}