@model Eksponent_Fall2016.Models.EmployeeSkillViewModel

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>

<div>
    <h4>Employees Level Skills Result Ratio</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.Label("Ratio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level) %
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ExperienceOverview")
</p>
